canvas {
  margin: 10px;
  border: 1pt solid #5C5C5C;
}

ul.keyboard {
  margin: 10px;
  display: flex;
  max-width: 800px;
  justify-content: center;
  flex-wrap: wrap;
}

li.key {
  margin: 2px;
  padding: 10px;
  border: 2px solid #5C5C5C;
  text-align: center;
  font-weight: bold;
  font-size: large;
  min-width: 70px;
}

li.key.active{
  background: black;
}

.dashboard, .options, .demo-selector{
  margin: 10px;
  text-align: center;
}


div button{
  border: 2px solid #5C5C5C;
  margin: 2px;
  padding: 5px;

  font-size: medium;
}

.dashboard button {
  margin: 5px;
  padding: 7px;
  font-size: large;
}

div select {
  border: 0.5px solid #5C5C5C;
  padding: 1px;
  margin: 2px;
}

button,
input[type="submit"], a {
  cursor: pointer;
}

button[disabled],
select[disabled] {
  background-color: #8C8C8C;
}

div label {
  margin: 10px;
}
