<!DOCTYPE html>
<html>
<head>
  <title>SoundCanvas</title>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <script src="assets/javasripts/bundle.js" charset="utf-8"></script>
  <script src="assets/stylesheets/sound_canvas.css" charset="utf-8"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
